.bgColorRed {
    background-color: red;
}

.bgColorYellow {
    background-color: #130b86ab;
}

.bigFont {
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

.colorGreen{
    color:green;
}
/* h3{
   background: yellow;
    width: 200px;
    height: 300px;
    border: 20px solid red;
    border-radius: 44px;
    padding-top: 30px;
    padding-left: 20px;
} */

#colorpink {
    color:pink;
    background-color: aqua;
}

/* @media screen for mobile */
/* @media (max-width: 478px) {
    body {
        background-color: yellow;
        font-size:40px;
    }
}

/* @media screen for tablet */
/* @media (min-width: 479px) {
    body {
        background-color: red;
        font-size:14%;
    }
} */

/* @media screen for desktop */
/* @media (min-width: 821px) {
    body {
        color: green;
        font-size:20%;
        background-color: black;
    }
} */

.col-sm-3{
    background-color: yellow;
    width:40%;
    height: 90px;
}
.error {
    color: red;
}